{% extends 'base.html' %}

{% block page_content %}

<ul class="breadcrumb">
	<li><a href="{% url 'cars:list' %}">Car list</a><span class="divider">/</span></li>
	<li><a href="{% url 'cars:detail' pk=request.resolver_match.kwargs.pk %}">Car details</a><span class="divider">/</span></li>
	<li class="active">Treatment list</a></li>
</ul>

<ul>
    {% for treatment in treatment_list %}
    <li><a href="{{ treatment.get_absolute_url }}">Treatment from <strong>{{ treatment.date }}</strong></a></li>
    {% empty %}
    <li>No treatment list</li>
    {% endfor %}
</ul>
{% endblock %}
