{% extends 'base.html' %}
{% load core_extras %}
{% block page_content %}

<ul class="breadcrumb">
	<li><a href="{% url 'cars:list' %}">Car list</a><span class="divider">/</span></li>
	<li><a href="{% url 'cars:detail' pk=request.resolver_match.kwargs.pk %}">Car details</a><span class="divider">/</span></li>
	<li><a href="{% url 'cars:treatments:list' pk=request.resolver_match.kwargs.pk %}">Treatment list</a><span class="divider">/</span></li>
	<li class="active">Treatment details</a></li>
</ul>

<table class="table table-hover table-bordered table-condensed">
	<tbody>
		{% for key, value in treatment|list_attributes %}	
        <tr>
        	<td>
        		<strong>{{ key|capfirst }}</strong>
        	</td>
        	<td>
	       		{{ value }}
        	</td>
        </tr>
		{% endfor %}
	</tbody>	
</table>
{% endblock %}
