{% extends 'base.html' %}
{% load core_extras %}
{% block page_content %}

<ul class="breadcrumb">
	<li><a href="{% url 'cars:list' %}">Car list</a><span class="divider">/</span></li>
	<li class="active">Car details</a></li>
</ul>

<legend>Car details</legend>

<table class="table table-hover table-bordered table-condensed">
	<tbody>
		{% for key, value in car|list_attributes %}	
        <tr>
        	<td>
        		<strong>{{ key|capfirst }}</strong>
        	</td>
        	<td>
	       		{{ value }}
        	</td>
        </tr>
		{% endfor %}
	</tbody>	
</table>

<a class="btn btn-danger" data-toggle="modal" data-target="#warning-dialog" onclick="$('#warning-dialog').load('{% url 'cars:delete' pk=car.pk %}');">Delete</a>
<a class="btn btn-inverse" data-toggle="modal" data-target="#editor-dialog" onclick="$('#editor-dialog').load('{% url 'cars:update' pk=car.pk %}');">Edit</a>

{% if car.treatment_set.all %}
	<p><a href="{{ car.get_treatments_absolute_url }}">Treatment history</a></p>
{% else %}
	<p>Car has no treatment history</p>
{% endif %}
{% endblock %}
